*/bin
*/gen
*/build-private.properties
*/local.properties
*/release
/FileManager/gen/org/openintents/filemanager/BuildConfig.java
/FileManager/gen/org/openintents/filemanager/R.java
build
/FileManager/assets
